@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body{
  background-image:url("../images/pizza-3007395_1920.jpg");

  background-color:#0e1619;
  font-family: 'Comfortaa', cursive;


}
