@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body{
  background-image:url("../images/pizza-3007395_1920.jpg");

  background-color:#0e1619;
  font-family: 'Comfortaa', cursive;


}
.jumbotron{
  background-color: white;
  opacity:0.9;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 2px;
 }
 .jumbotron h1{
   font-family: 'Reenie Beanie', cursive;
    font-size:50px;
    font-weight: bolder;
    text-align: center;
    margin-top: -6%;
    font-stretch: extra-expanded;
  }
.jumbotron p{
 font-size: 14px;
 text-align: center;
 font-weight: lighter;
 font-style: italic;
 }

 #tag{
   color:#d35400;
   font-weight: normal;
 }

 .nav{
text-align: center;



 }

 .nav img{
   padding-right: 2%;
   width:5%;
 }


 /* pizzatypes */
  .pizza-types{
    opacity: 0.9;
    border-radius: 2px;
  }

  .pizza-types h1{
   margin-top:-1%;
     margin-bottom:2%;
    background-size: 50%;
    font-size: 20px;
    font-weight: bolder;
    color: #d35400;
    text-align: center;

  }

  .pizza-types h2{
   font-size: 16px;
   font-weight: bolder;

 }

 .pizza-types h2,p{
   padding-left: 2%;
 }
.pizza-types p{
  margin-top: -3%;
}

.pizza-types .btn{
  text-align: right;

  background-color: #d35400;
  border:none;

 }

 .tagforpizzatype{
   color:#d35400;
   font-family: 'Reenie Beanie', cursive;
   font-size: 20px;
   font-weight: bold;
 }
