@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body{
  background-image:url("../images/pizza-3007395_1920.jpg");

  background-color:#0e1619;
  font-family: 'Comfortaa', cursive;


}
.jumbotron{
  background-color: white;
  opacity:0.9;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 2px;
 }
 .jumbotron h1{
   font-family: 'Reenie Beanie', cursive;
    font-size:50px;
    font-weight: bolder;
    text-align: center;
    margin-top: -6%;
    font-stretch: extra-expanded;
  }
.jumbotron p{
 font-size: 14px;
 text-align: center;
 font-weight: lighter;
 font-style: italic;
 }
